<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link href="{{ url_for('static', filename='css/salary.css') }}" rel="stylesheet">
</head>
<body>
<form action="/result" method="POST">
    <br>number_project
    <input type="text" name="number_project" value="2">
    <br>average_montly_hours
    <input type="text" name="average_montly_hours" value="345">
    <br>time_spend_company
    <input type="text" name="time_spend_company" value="5">
    <br>Work_accident
    <input type="text" name="Work_accident" value="0">
    <br>promotion_last_5years
    <input type="text" name="promotion_last_5years" value="6">
    <br>department
    <select name="department">
        <option value="100000000">RandD</option>
        <option value="010000000">accounting</option>
        <option value="001000000">hr</option>
        <option value="000100000">management</option>
        <option value="000010000">marketing</option>
        <option value="000001000">product_mng</option>
        <option value="000000100">sales</option>
        <option value="000000010">support</option>
        <option value="000000001">technical</option>
        <option value="000000000">IT</option>
    </select>
    <br>salary
    <select name="salary" id="id_work_days" multiple>
        <option value="10">Low</option>
        <option value="01">Medium</option>
        <option value="00">High</option>
    </select>
    <br>satisfaction_level
    <input type="text" name="satisfaction_level" value="0.72">
    <br>last_evaluation
    <input type="text" name="last_evaluation" value="0.86">

    <br>
    <input type="submit" value="Check if he/she will leave company">


</form>
</body>
</html>