<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<form action="/result" method="POST">
    Employee ID
    <input type="text" name="employee_id" value="1999">
    <br>number_project
    <input type="text" name="number_project" value="2">
    <br>average_montly_hours
    <input type="text" name="average_montly_hours" value="345">
    <br>time_spend_company
    <input type="text" name="time_spend_company" value="5">
    <br>Work_accident
    <input type="text" name="Work_accident" value="0">
    <br>promotion_last_5years
    <input type="text" name="promotion_last_5years" value="6">
    <br>department
    <input type="text" name="department" value="sales">
    <br>salary
    <input type="text" name="salary" value="high">
    <br>satisfaction_level
    <input type="text" name="satisfaction_level" value="0.72">
    <br>last_evaluation
    <input type="text" name="last_evaluation" value="0.86">

    <br>
    <input type="submit" value="Check if he/she will leave company">


</form>
</body>
</html>