<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<form action="/result" method="POST">
    <input type="text" name="employee_id">
    <br>number_project
    <input type="text" name="number_project">
    <br>average_montly_hours
    <input type="text" name="average_montly_hours">
    <br>time_spend_company
    <input type="text" name="time_spend_company">
    <br>Work_accident
    <input type="text" name="Work_accident">
    <br>promotion_last_5years
    <input type="text" name="promotion_last_5years">
    <br>department
    <input type="text" name="department">
    <br>salary
    <input type="text" name="salary">
    <br>satisfaction_level
    <input type="text" name="satisfaction_level">
    <br>last_evaluation
    <input type="text" name="last_evaluation">

    <br>
    <input type="submit" value="Check if he/she will leave company">


</form>
</body>
</html>